/* #### BUTTON AND ANCHOR TAGS FOCUS */
button:focus,
a:focus {
	@apply outline-none outline-offset-0;
}

button:focus-visible,
a:focus-visible {
	@apply outline-2 outline-success-500;
}

button.focus-primary:focus-visible,
a.focus-primary:focus-visible {
	@apply outline-2 outline-primary-500;
}

button.focus-secondary:focus-visible,
a.focus-secondary:focus-visible {
	@apply outline-2 outline-secondary-500;
}

button.focus-success:focus-visible,
a.focus-success:focus-visible {
	@apply outline-2 outline-success-500;
}

button.focus-error:focus-visible,
a.focus-error:focus-visible {
	@apply outline-2 outline-error-500;
}

/* #### UTILITY CLASSES #### */

/* ## TYPOGRAPHY ## */
.gradient-text-color-primary {
	background-image: linear-gradient(
		90deg,
		rgba(var(--color-primary-500)) 0%,
		rgba(var(--color-primary-400)) 60%,
		rgba(var(--color-primary-300)) 80%,
		rgba(var(--color-primary-200)) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.gradient-text-color-success {
	background-image: linear-gradient(
		90deg,
		rgba(var(--color-success-500)) 0%,
		rgba(var(--color-success-400)) 60%,
		rgba(var(--color-success-300)) 80%,
		rgba(var(--color-success-200)) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

/* ## FORMS ## */
.invalid > label {
	@apply text-error-300;
}

.invalid > input {
	@apply mb-2;
}

.invalid > p {
	@apply text-sm text-error-300;
}
